* {
    color: white;
    font-family: sans-serif;
    transition: 0.3s ease-in-out;
    user-select: none;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #252A34;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
    text-decoration-color: #20676a;
    color: #FF2E63;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#03b597;
}

.turn-container {
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box {
    border: 3px solid #000;
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background:linear-gradient(#FF2E63,#78464b);
    z-index: -1;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid #000;
}

.box {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid #000;
    transition: background-color 0.2s ease-in-out;
}

.box:hover {
    background:linear-gradient(#FF2E63,#78464b);
}

#play-again {
    background:linear-gradient(#FF2E63,#78464b);
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Ensure this is toggled correctly in JS */
}

#play-again:hover {
    padding: 10px 40px;
    background:linear-gradient(#0fe4e8f1,#20676a);
    color: #000;
}
.credit{
    position: absolute;
    text-align: end;
    bottom: 5px;
    right:5px;
}
@media (max-width: 600px) {
    .main-grid {
        height: 200px;
        width: 200px;
    }
    .box {
        font-size: 1.5rem;
    }
}
.box {
    transition: background-color 0.2s ease-in-out;
}
.box {
    box-shadow: 2px 2px 2px rgb(187, 181, 181);
}
.win-highlight {
    background: linear-gradient(#0fe4e8f1, #20676a);
    color: #000;
}
